body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #5c5c5c;
}

nav {
    background-color: #ffffff;
    padding: 8px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 12px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #6f4d38;
}