<div class="navbar">
    <a href="index.html" aria-label="Zur Startseite">
        <img class="logo" src="Bilder/Logo.svg" alt="Logo">
    </a>

    <!--Hamburger Menü Checkbox-->
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
        <img src="Bilder/hamburger-menu.svg">
    </label>

    <!--Navigation-->
    <nav class="nav-links" aria-label="Hauptnavigation">
        <ul>

            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><button id="theme-switch">
                    <img src="bilder/dark-mode.svg" alt="Switch to Dark Mode">
                    <img src="bilder/light-mode.svg" alt="Switch to Light Mode">
                </button></li>
        </ul>
    </nav>
</div>